# Environment variables
.env
.env.*
!.env.example

# Python
__pycache__/
*.py[cod]
.venv/
venv/
db.sqlite3
staticfiles/
media/

# Node
node_modules/
yarn.lock
dist/
build/
.next/

# IDE
.idea/
.vscode/

# OS
.DS_Store

# Logs
*.log
